/*smail tablets to big tables 768 to 1023px */
@media only screen and (max-width: 1023px){
    .text-size_7xl{
        font-size: 2.0em!important;
    }
    text-size_2xs{
        font-size: 95%;
    }
    
    
    .header nav,
    .header .user-wrapper{
        display: none;
    }
    
    .header{ 
        height: 50px;
        padding:0px !important;
    }
    
    .head nav {
        margin-top: 40px;   
    }
    .head nav ul {
        padding: 0;
        position: static;
        top:0;
        left:0;
        overflow: auto;
        margin: 0;
    }
    
    .head nav ul li{
        width: 25%;
        margin-right: 0; 
    }
    
    
    .btn.btn_support{
        width: 100%;
        background-position: 95% center;
    }
    .btn span:first-child {
        font-size: 120%;
    }
    
    .sticky-frame .author_info {
        padding:10px 0 0 0;
        text-align: center;
        
    }
    
    .sticky-frame .author_info .title{
        text-align: center;
    }
    
    .sticky-frame .author_info img {
        float:none;
    }
    
    .sticky-frame .author_info h3 {
        float:none;
        font-size: 110%;
    }
    
    .sticky-frame .author_info address i {
        margin-right: 5px;
    }
    
    .sticky-frame .author_info address {
        float: none;
        margin: 0 0 10px 0;
        font-size: 90%;
    }
    
    .sticky-frame .project_number i {
        margin-right: 5px;
    }
    
    .sticky-frame .project_number {
        font-size: 90%;   
    }
    
    
    .present .panel_head h3 {
        font-size: 100%;   
    }
    
    .present .panel_body {
        margin-bottom: 15px;
    }
    .note, .present .panel_body p {
        line-height: 20px;
    }
    
    footer ul{
        font-size: 80%;
        overflow: auto;
        padding: 0 0 0 20px;
    }
    
    footer ul li {
        margin-right: 7px;       
    }
    
    
    .fix-nav ul li {
        width: 19% !important;
    }
    
    .sidebar.active{
        display: block !important;
        position: fixed;
        background: #eee;
        top: 40px;
        left: 0;
        padding-top: 20px;
        overflow: scroll;
        max-height: 100%;
    }
    
}

@media only screen and (max-width: 767px){
    .content .span_8_of_12{
        width: 100%;
        padding: 0 10px;
    }
    .content .span_4_of_12{
        display: none;
    }
    .head nav ul li span{
        display: none;
    }
    .head .btn.btn_support.active{
        margin-right: 5px;
    }
} 


/*small phones 0 to 480px */
@media only screen and (max-width: 480px){
    .head .btn.btn_support span{
        display: none;
    }
    .head .btn.btn_support{
            width: 100px !important;
    }
    
}